<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div style="width:100%; color:black; background:red; display:flex; gap:10px; justify-content:center;">
			<a>Home</a>
			<a>About</a>
			<a>Contact</a>
		</div>
		
		<slot />

		<div style="width:100%; color:black; background:red; display:flex;">
			
			<div style="display:flex; flex-direction:column;">
				<h2>Contact Me:</h2>
				<div style="display:flex;">
					<span>Emial: </span>
					<div>j0rdnk1ng2000@gmail.com</div> 
				</div>
			</div>
		</div>
		
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
